body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

ul.header li {
    display: inline-flex;
    list-style-type: none;
    margin-right: 1rem;
    text-align: center;
}

ul.header a {
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    min-width: 100px;
}

.content {
    width: 90%;
    margin: 0 auto;
    /* background-color: white; */
    padding: 1rem;
}

.active {
    background-color: #8787e5;
}

.square {
    background-color: rgb(75, 70, 70);
    border: 1px solid #999;
    width: 68px;
    height: 68px;
    font-size: 1.8rem;
    font-weight: bold;
    float: left;
}

.board-row {
    clear: both;
    height: 60px;
}













